body{
    font-family: Montserrat;
    padding: 0;
    margin: 0;
}
.radial-gradient {
    background: radial-gradient(
        72.52% 72.52% at 63.87% 36.26%,
        #D30606 0%,
        #9A0404 57%,
        #6D0303 100%)
}

.linear-gradient {
    background: linear-gradient(
        270deg,
        #D30606 0%,
        #9A0404 57%,
        #6D0303 100%)
}

.inv-linear-gradient {
    background: linear-gradient(
        270deg,
        #6D0303 0%,
        #9A0404 57%,
        #D30606 100%)
}

